ekf_filter_node:
  ros__parameters:
    use_sim_time: true
    frequency: 30.0

    publish_tf: true

    map_frame: map
    odom_frame: odom
    base_link_frame: base_link
    world_frame: odom

    odom0: /odom
    odom0_config: [true, true, false,
                   false, false, true,
                   false, false, false,
                   false, false, true,
                   false, false, false]

    odom0_queue_size: 10

